<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="objectives">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Objectives</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vouchers">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Vouchers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>