<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
      <ion-badge>4</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="objectives">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Objectives</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vouchers">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Vouchers</ion-label>
    </ion-tab-button>
<!-- 
    <ion-tab-button tab="How it works">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>How it works</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>