<ion-card-header>
  <ion-card-subtitle>
    This app consists of 3 screens.
    <br>
    <br>
    <b>1. Objectives</b> - in this screen you will see the objects you need to complete and when you complete them, depending on the difficulty you will receive rewards
    <br>
    <br>
    <b>2. Voucher offers</b> - in this screen you will see the offers you can claim with points
    <br>
    <br>
    <b>3. Claimed vouchers</b> - in this screen you will see the vouchers you had claimed
  </ion-card-subtitle>
  <ion-button class="ion-text-center" (click)="DismissClick()">CLOSE</ion-button>
</ion-card-header>
