  <ion-card-header>
    <ion-card-subtitle>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      {{ voucher.description }}
    </ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    
  Cost: {{ voucher.costPoints }}
  <br>
  Expires
  <br>
  {{ voucher.expiration | date }}
  <br>
  Terms & Condition Apply

  <ion-button (click)="DismissClick()">CLOSE</ion-button>
  <ion-button [disabled]="points < voucher.costPoints" (click)="redeem()">REDEEM</ion-button>
  </ion-card-content>

