  <ion-card-header>
    <ion-card-subtitle>
        <img src="{{ voucher.companyLogo || 'assets/shapes.svg' }}">
      <p><b>{{ voucher.description }}</b></p>
    </ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    
  Cost: {{ voucher.costPoints }}
  <br>
  Expires
  <br>
  {{ voucher.expiration | date }}
  <br>
  Terms & Condition Apply

  <ion-button (click)="DismissClick()">CLOSE</ion-button>
  <ion-button [disabled]="points < voucher.costPoints" (click)="redeem()">REDEEM</ion-button>
  </ion-card-content>

