<ion-card-header>
  <ion-card-subtitle *ngIf="!isVoucher">
    <ion-icon name="ribbon-outline"></ion-icon>
    Claim these points and use them to buy vouchers as a reward 
    for the hard work you do!
  </ion-card-subtitle>

  <ion-card-subtitle *ngIf="isVoucher">
    <ion-icon name="ribbon-outline"></ion-icon>
    Claim these vouchers and use them in retail shops as a reward
    for the hard you do!
  </ion-card-subtitle>
</ion-card-header>

<ion-card-content>

<ion-button (click)="DismissClick()">CLOSE</ion-button>
<ion-button (click)="claim()">CLAIM</ion-button>

</ion-card-content>