ion-toolbar{
    --background: #2D759A;
    --color: white;
}

ion-title{
    font-size: 20px;
}

.pointsborder{
    width: 90%;
    border: solid black 2px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 2rem;
    background-color: white;
    z-index: 2;
}
.points{
   padding-left: 4.5rem;
}

.border{
    height: 50px;
    border-radius: 5px;
    background-color: #E5E5E5;
    width: 90%;
    margin-left: 15px;   
    margin-bottom: 1rem;
}



.ion-padding {
    --ion-padding: 12px;
}

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  