ion-toolbar{
    --background: #2D759A;
    --color: white;
}

#user-header {
    --avatar-size: 8rem;


    h3 {
        color: var(--ion-color-primary-contrast);
        font-weight: bold;
        margin-bottom: 0;
    }

    ion-avatar {
        height: var(--avatar-size, 128px);
        margin: auto;
        width: var(--avatar-size, 128px);
    }

}

ion-button{
    margin-top: 1rem;
    width: 140px;
    height: 70px;
    font-size: 11px;
    border: solid black 1px;

}

ion-icon{
    font-size: 30px;
    padding-right: 20px;
}

