<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon name="camera" (click)="takePhoto()"></ion-icon>
    </ion-buttons>
    <ion-title>Profile</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="user-header" class="ion-padding">
    
    <!-- User Avatar (Profile Picture) -->
      <ion-avatar>
        <img [src]="profilePic" alt="">
      </ion-avatar>

    <!-- Username -->
    <div class="ion-text-center">
      <h3>Kieran Camilleri Bianco</h3>
    </div>
  </div>

    <ion-grid>
      <ion-row>
        <ion-col offset-4>
          <ion-button color="light" routerLink="/tabs/redeemed-vouchers">Claimed Vouchers</ion-button>
        </ion-col>
      
        <ion-col>
          <ion-button color="light" routerLink="/tabs/objectives">Objectives</ion-button>
        </ion-col>
        </ion-row>

        <ion-row>
        <ion-col>
          <ion-button color="light" routerLink="/tabs/vouchers">Vouchers Offers</ion-button>
        </ion-col>

        <ion-col offset-4>
          <ion-button color="light" (click) ="helpPopover()">How it works</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>
