ion-slides{
  height: 100%;

  ion-slide{
    flex-direction: column;
    

    > ion-icon{
      color: var(--ion-color-light);
      font-size: 3rem;
    }

    h3{
      color: var(--ion-color-light);
    }

    p{
      color: var(--ion-color-light);
    }
  }
}
