<ion-content fullscreen>
  <ion-slides pager>

    <!-- Slide 1 -->
    <ion-slide>
      <ion-icon name="happy-outline"></ion-icon>
      <h3>Welcome!</h3>

      <p class="ion-padding">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-icon name="id-card-outline"></ion-icon>
      <h3>What is Grader?</h3>

      <p class="ion-padding"> 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
    </ion-slide>

      <!-- Slide 3 -->
      <ion-slide>
        <ion-icon name="ribbon"></ion-icon>
        <h3>Why Grader?</h3>
  
        <p class="ion-padding"> 
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        </p>
      </ion-slide>

    <!-- Slide 4 -->
    <ion-slide>
      <ion-icon name="thumbs-up"></ion-icon>
      <h3>Ready to start?</h3>

      <ion-button fill="clear" color="light" routerLink="/tabs/profile">
        Continue
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>

<ion-button class="ion-no-margin" color="dark" expand="full" size="small" fill="solid" routerLink="/tabs/profile">
  Start Now
</ion-button>